@using MVC.Models
@{
    ViewBag.Title = "Index";
}

@model IList<NotaModel>
<h2 style="text-align:center; ">Noticias</h2>
<header ></header>
<body >

    <img src="~/Content/nota1.jpg" style="width:50%; margin-left:100px; margin-top:20px" />
</body>
